/* import the root rules file */
@import url("./root.css");

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
 }
 
 .container {
 
    margin-left: 0;
    margin-right: 0;
 }
 
 .flex {
     display: flex;
     
      
 }
 
 .form {
     width: 70%;
     display: flex;
     justify-content: center;
     align-items: center;
    
 }
 .container-form {
     width: 90%;
     max-width: 70%;
     height: 483px;
     background: #FFFFFF;
     box-shadow: -14px 15px 9.9px 13px rgba(0, 0, 0, 0.25);
 }
 
 .signIn {
     width: 37.57%;
     background-color: var(--background-and-nav-color);
     height: 900px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: var(--text-color-white);
     font-size: 0.9rem;
 }
 
 .container-form {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .div-input {
     padding: 20px;
 }
 
 .label {
 width: 123px;
 height: 22px;
 
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 30px;
 
 color: #000000;
 
 
 }
 
 
 .label-div2 {
     display: flex;
     justify-content: space-around;
     margin-bottom: 10px;
     margin-right: 10px;
 }
 
 .div-div {
     width: 100%;
     background-color: red;
 }
 
 input {
     box-sizing: border-box;
     padding: 15px 60px;
     width: 100%;
     background: #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.4);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
     outline: none;
 }
 
 
 .label-div {
     padding-top: 40px;
 }
 
 
 .btn1 {
     margin-top: 30px;
     padding: 15px 20px;
     background-color: var(--btn-color-violet);
     border: none;
     width: 100%;
     color: #FFFFFF;
     font-weight: 600;
     font-size: 0.9rem;
 
 }
 
 
 .h1 {
     font-family: var(--font-family);
     font-weight: 400;
     font-size: 30px;
 
 }
 .paragraphe {
 
     font-family: var(--font-family);
     font-weight: 400;
     color: #DCDCDC;
     font-size: 20px;
     margin-left: 20px;
     padding: 10px;
 
 }
 
 .btn2 {
     padding: 10px 100px;
     color: var(--text-color-white);
     border: navajowhite;
     background: #000000;
 
 }
 
 .flash-message {
     background-color: #dc3545;
    
     border-radius: 5px;
     text-align: center;
     height: 40px;
 }
 
 .flash-p {
     padding-top: 10px;
     color: #dc3545;
 
 }
 
 